.why_us{
    font-family: "Playfair Display", serif;
    background: #f2f2f2;
    padding-top: 4rem; 
    padding-bottom: 4rem; 
}

.why_us h1{
    color: #121213; 
    text-align: center;
}
.why_us_wrappert{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
    max-width: 1000px;
    margin: auto;
    margin-top: 1rem;
}

.why_us_container{
    box-shadow: 0px 0px 20px #c4c4c4;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 300px;
    height: 300px;
    /* position: relative;
    z-index: 1; */
    margin: 0.5rem;
    background: white;
}

.why_us_quote{
    font-weight: 600;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
}

/* .why_us_quote::before
,.why_us_quote::after{
    color: rgb(241, 86, 14);
    font-size: medium;
    display: block;
    position: relative;
    z-index: 1;
}

.why_us_quote::before{
    top:0.5rem;
    content: open-quote;
    z-index: 1;
}

.why_us_quote::after{
    content: close-quote;
    top: 1rem;
    left: 13rem;
} */
/*

.signature{
    text-align: right;
    position: relative;
    z-index: 1;
    bottom: 1rem;
    right: 2rem;
}

.name{
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}

.name::before{
    content:"";
    width: 20px;
    height: 4px;
    background-color: rgb(241, 86, 14);
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -6px;
    right: 6px;
} */